section.contact-us .icon-envelope {
    color: var(--subtitel);
    margin-right: 1rem;
    font-size: 1.6rem;
}

section.contact-us .titel {
    color: var(--titel);
    font-size: 2rem;
    margin-bottom: 1rem;
}

section.contact-us .sub-titel {
    color: var(--subtitel);
    font-size: 0.9rem;
    margin-bottom: 2rem;
    line-height: 1.6rem;
}

section.contact-us label {
    color: var(--subtitel);
}

section.contact-us #email,
section.contact-us #message {
    all: unset;
    background-color: rgb(36, 36, 36);
    border: 1px solid rgba(65, 69, 70, 0.192);
    width: 16rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1rem;
    
}

section.contact-us #email:focus,
section.contact-us #message:focus {
    border: 1px solid var(--orange);
}

section.contact-us #email:hover,
section.contact-us #message:hover {
    border: 1px solid var(--orange);
}

section.contact-us #message {
    min-height: 9rem;
    resize: vertical;
}

section.contact-us .submit {


    background-color: var(--bgHeader);
    padding: 0.5rem 2.8rem;
    
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 40px rgba(15, 12, 12, 0.199);
    border: 0.001rem solid rgba(0, 255, 255, 0.082);
    color: var(--subtitel);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.6px;
    
    margin-top: 2rem;

}

section.contact-us .submit:hover {
    box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.082) inset;
    color: var(--titel);
    transition: 0.4s;
    border: 1px solid var(--orange);
    opacity: 1;

}
/* =================================
 3. Responsive Design (Media Query)
====================================
 */
 @media (max-width: 600px) {
    section.contact-us .animation{display: none;}
    section.contact-us form{
        display: flex;
        flex-direction: column;
        width: 85%;
       
    }
    section.contact-us #email,
section.contact-us #message {
    width: 100%;
    padding: 0.7rem 0;
    margin-top: 0.5rem;
    margin-left: 0;


}
    section.contact-us form div.flex{
        flex-direction: column;
        align-items: start;

    }
    section.contact-us .submit {
        align-self: center;
        width: 30%;
    }


 }
  