/* ===========================
 table of contents
==============================
 
1. Header Design
2. Buttom & Icon
3. Modal 
4. Responsive Design (Media Query) 
*/

/* ===========================
 Header Design
==============================
 */

header.flex {
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}

header.flex nav {
    background-color: var(--bgHeader);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px 40px rgba(15, 12, 12, 0.199);
    border: 0.001rem solid rgba(0, 255, 255, 0.082);
   
}
.light .flex nav {
    border: none;
    box-shadow: 1px 1px 40px rgba(15, 12, 12, 0);
    background-color:#f1ece2;;

}

header.flex nav:hover {
    box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.082) inset;
}
.light header.flex nav:hover {
    box-shadow: 1px 1px 8px #f7ebd5a9 inset;
}

header ul.flex {
    gap: 16px;
}

header ul li a {
    color: var(--titel);
    opacity: 0.9;
    font-size: 0.88rem;
    font-weight: 500;

}

header ul li a:hover {
    color: var(--orange);
    text-shadow: 1px 1px 20px rgba(0, 255, 255, 0.192);
    opacity: 1;
    font-size: 0.9rem;

}


header button {
    font-size: 1.2rem;
}

header button.menu {
    display: none;
}

/* ===========================
Bottun & Icon
==============================
 */
header .mode,
header .icon-menu {
    background-color: var(--bgHeader);
    width: 2.4rem;
    height: 2.4rem;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: var(--subtitel);
    border: 1px solid rgba(0, 255, 255, 0.192);

}
.light header .mode, .light
header .icon-menu {
    border: 1px solid var(--orange);
}

header button.icon-menu:hover,
header .mode:hover {

    color: var(--titel);
    border: 1px solid var(--orange);
    box-shadow: 1px 1px 20px rgba(0, 255, 255, 0.192);
    transition: 0.2s;
}
.light header button.icon-menu:hover, .light 
header .mode:hover {

    color: var(--titel);
    border: 1px solid rgb(208,167,115);
    box-shadow: 1px 1px 20px rgba(208, 168, 115, 0.337);
    transition: 0.2s;
}
header .icon-close {
    font-size: 1.3rem;
    color: var(--subtitel);
}

header .icon-close:hover {

    color: hsl(0, 69%, 56%);
    transition: 0.5s;
    rotate: 180deg;
}

/* ===========================
Modal 
==============================
 */
header .fixed {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.88);
    z-index: 11;
    backdrop-filter: blur(3px);
}

@keyframes mymove {
    0% {
        scale: 0;
    }

    60% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

header .fixed ul.model {
    animation: mymove 0.6s 1;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: var(--secondary);
}

header .fixed ul.model li {
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.77rem;
    padding-top: 0.5rem;
}

header .fixed ul.model li:last-child {
    border: none;
}

header .fixed ul.model li:first-child {
    border: none;
    text-align: right;
    padding-bottom: 0rem;
    padding-top: 0.2rem;
    margin-bottom: -1rem;
}

header .fixed ul.model li a {
    font-size: 1rem;
}

/* =============================
 Responsive Design (Media Query)
================================
 */

@media (max-width: 700px) {
    header.flex nav {
        display: none;
    }

    header button.menu {
        display: block;
    }

}